.header {
    position: fixed;
    width: 100%;
}

.navbar {
    height: 50px;
    background-color: $color-bg-secondary;
    display: flex;
    align-items: center;
    // aplicar espacio entre el logo y el burguer
    // justify-content: space-between;
    position: relative;

    &__logo {
        height: 50px;
    }

    &__menu-label {
        color: $color-text-light;
        margin-left: auto;
        height: 42px;
        background-color: orangered;
        width: 44px;
        margin-right: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__menu-btn {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
    }

    &__menu-btn:checked ~ &__nav-link-container {
        height: calc(100vh - 50px);
    }

    &__menu-btn:checked ~ &__menu-label &__menu-icon {
        background-color: transparent;

        &::after {
            transform: rotate(45deg);
            top: 0;
        }

        &::before {
            transform: rotate(-45deg);
            top: 0;
        }
    }

    &__menu-icon {
        height: 2px;
        background-color: $color-text-light;
        width: 18px;
        position: relative;

        &::after, &::before {
            content: '';
            height: 2px;
            background-color: $color-text-light;
            position: absolute;
            width: 100%;
            transition: all .2s ease-out;
        }

        &::after {
            top: 5px;
        }

        &::before {
            top: -5px;
        }
    }

    &__nav-link-container {
        list-style: none;
        position: absolute;
        top: 50px;
        background-color: red;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all .3s ease-out;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__nav-item {
        padding: .75rem 1rem;
        
        &:not(:last-child) {
            border-bottom: 1px solid white;
        }
    }

    &__nav-link {
        color: $color-text-light;
    }
}
//? aplicamos modificaciones para visualizar en un PC u otros navegadores
@media screen and (min-width: 600px) {
    .navbar {
        &__menu-label, &__menu-btn {
            display: none;
        }

        &__nav-link-container {
            position: static;
            flex-direction: row;
            height: 100% !important;
            width: auto;
        }
    }
}








// // tener en cuenta q se llama las clases dentro del mismo
// .main-nav {
//     background-color: $color-bg-primary;
//     height: 4rem;
//     display: flex;
//     align-items: center;

//     .nav-links {
//         padding: 2rem;

//         .nav-item {
//             text-decoration: none;
//             color: $color-text-light;
// // aplicar css dentro de una clase doble agregamos un & para llamarlo
//             &.active {
//                 color: #49d546;
//                 font-weight: bold;
//             }
//             &:hover {
//                 font-size: 1.2rem;
//                 color: darkred;
//             }
//         }
//     }
// }