// tener en cuenta q se llama las clases dentro del mismo
.main-nav {
    background-color: $color-bg-primary;
    height: 4rem;
    display: flex;
    align-items: center;

    .nav-links {
        padding: 2rem;

        .nav-item {
            text-decoration: none;
            color: $color-text-light;
// aplicar css dentro de una clase doble agregamos un & para llamarlo
            &.active {
                color: #49d546;
                font-weight: bold;
            }
            &:hover {
                font-size: 1.2rem;
                color: darkred;
            }
        }
    }
}